.home_detail_card{
    width: 250px;
    height: 200px;
    background: #8861E0;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

.home_detail_card img{
    height: 50px;
    width: 50px;
    margin: 10px;
    float: right;
   
}

.graph-image{
    width: 100% !important;
    height: auto !important;
    margin-right: 0px !important;
}

.data_loading_btn{
    float: right;
    width: 140px;
    height: 35px;
    border-radius: 7px;
    background: #343A40;
    color: white;
    font-family: poppins;
    margin-right: 10px;
}
.top-chart{
    width: 95%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  
}
.chartjs-render-monitor{
    height: inherit !important;
    width: fit-content !important;

}

.revenues-actions{
    float: right;
}
.revenues-actions span{
    cursor: pointer;
}
.revenues-actions li :hover{
    background-color: rgb(212, 212, 212);

}
.revenues-actions li {
   display: grid !important;
    
}


#user-dash-table table{
    display: block;
}

.showMore{
    display: block;
}
.hideMore{
    display: none;
}