
  .bookseat-container {
    width: 600px;
    margin: auto;
    text-align: center;
    
  }
  .break{
    white-space: pre-line;
    background-color: red;
    content: "A";
  }
  .mybooking{
    background-color: rgb(105, 240, 105) ;
    color: #fff;
    display: inline-block;
  }
  .grid{
    width: 120px;
    border: 2px solid orange;
    display: inline-block ;
    margin-right: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
  
  

  }
  .grid .seat
  {
    width: 30px;
    display: inline-block ;
    margin-bottom: 20px;
    
  }
  .grid.Left{
    float: left;
    width: 30px ;

  }

  .grid.Right{
    float: right;
    width: 30px;
  }

  #step1{
    height: 550px;
    overflow: scroll;
  }
  #step2{
    height: 550px;
    overflow: scroll;
  }
  #step3{
    height: 550px;
    overflow: scroll;
  }
 .left h4{

    background: #196EDE;
    border-radius: 20px;
    color: white;
    font-size: large;
    padding: 5px;
  }

 .grid img{
   width: 30px;
   height: 30px;
 }
  
  .grid img:hover {
    opacity: .7;
    cursor: pointer;
  }
  
  .reserved {
    background-color: red;
    color: #fff;
    display: inline-block;
  }
  
  /* .reserved::after {
    content: 'RESERVED'
  }
  
  .available::after {
    content: 'AVAILABLE'
  }  */
  
   .available {
    background-color: white;
  }
 
  .left ul li{
    display: inline;
  }