font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../AuthComponents/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../AuthComponents/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../AuthComponents/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../AuthComponents/poppins/poppins-v5-latin-300.woff") format("woff"), url("../AuthComponents/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../AuthComponents/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */ }

    .nav{
        font-family: Poppins;
        
    }
    .navbar-nav
    {
        color:black;
    }
.HomeNavLink{
        height: 50px;
       
        color: black ;
      
        width: 130px;
        text-align: center;
       
       
        padding-top: 13px;
    }