
.left {
    width:auto;
    height:'100%';
    
    overflow:hidden;
    font-family: poppins;
}
#right {
    height:500px;
    width:300px;
    
  color: black;
    border-bottom-right-radius: 25px;


   padding: 0% !important;
    
    display: none;
    float:left;
     transition: visibility 0s linear 0.33s
}
.translate{
   transform: translateY(+40%);
}
#userprofile{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-font-smoothing: antialiased;
cursor: pointer;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
outline: 0;
padding: 0;
box-sizing: border-box;
border-radius: 50%;
height: 32px;
vertical-align: middle;
width: 32px;
margin: auto;
display: block;
object-fit: cover;

position: absolute;


}
.circleImage{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-font-smoothing: antialiased;
cursor: pointer;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
outline: 0;
padding: 0;
box-sizing: border-box;
border-radius: 50%;
height: 32px;
vertical-align: middle;
width: 32px;
margin: auto;
display: block;
object-fit: cover;

position: absolute;


}

.loadingGifDiv{
   z-index: 9;
    position: absolute;
    background: azure;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    backdrop-filter: blur(5px);
    opacity: 0.6;
}



.showOption{
   display: block;
}
.hideOption{
   display: none;
}
.topbar{
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}
.topbarCorerPart{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
color: rgba(0,0,0,.987);
line-height: 16px;
-webkit-font-smoothing: antialiased;
letter-spacing: normal;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
box-sizing: border-box;
display: flex;
align-items: center;
flex: 1 0 auto;
justify-content: flex-end;
padding-right: 8px;
}
.translateText{
  

   margin-left: 10%;
   font-size: x-large;
}
.topbar{
   display: flex;
   height: 45px;
   background: #196EDE;
 
   color: white;
  
}
.home-nav-ul {
   list-style: none;
   display: contents;
}
 
.home-nav-ul  :HOVER {
   background: #EBEBEB;
   color: black;
}
.home-nav-item{
   width: 100%;
   background: white;
   height: 50px;
   margin-bottom: 5px;
   padding-top: 5%;
   border-radius: 7%;
   margin-top: 5px;
   cursor: pointer;
   padding-left: 15px;
  color: #707172;
  font-family: poppins;
 
   
}
.home-nav-item span{
   margin-left: 10px;
}
#subMenu li{
   margin-top: 10px;
   list-style: none;
   width: 100%;
   background: white;
   height: 50px;
   
  padding-top: 5%;
   border-radius: 7%;
   margin-top: 10px;
   cursor: pointer;
   padding-left: 15px;
   color: #707172;
   font-family: poppins;
   


}
#subMenu span{
   margin-left: 10px;
   
}
#subMenu :hover{
   background: #EBEBEB;
   color: black;
}

.profile-card-mananage-account-text{
   margin-top: 30px;
   border-color: #196EDE;
   border-style: dotted;
   color:white;
   background: #196EDE;
   border-radius: 10px;
   border-style: double;
   cursor: pointer;
}
.profile-card-home-p p:hover{

   cursor: pointer;
   background: lightgray;
}






.notifications-div-menu[x-placement^="top"], .notifications-div-menu[x-placement^="right"], .notifications-div-menu[x-placement^="bottom"], .notifications-div-menu[x-placement^="left"] {
   right: auto;
   bottom: auto;
}

.notifications-div-menu.show {
   display: block;
}

.notifications-div-menu[x-placement^=bottom], .notifications-div-menu[x-placement^=left], .notifications-div-menu[x-placement^=right], .notifications-div-menu[x-placement^=top] {
   right: auto;
   bottom: auto;
}




.notification-navbar-badge {
   font-size: .6rem;
   font-weight: 300;
   padding: 2px 4px;
   
   right: 5px;
   top: 9px;
}
.notification-badge {
   display: inline-block;
   padding: 0.25em 0.4em;
   
   font-weight: 700;
   line-height: 1;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: 0.25rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.notifi-details{
   margin-left: 60px;
   color:black
}


.notifications-div-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: 0.5rem 0;
   margin: 0.125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #ffffff;
   background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 0.25rem;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
>
.notifications-div-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: .5rem 0;
   margin: .125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: .25rem;
}

.notifications-div-menu-right {
   right: 0;
   left: auto;
}

.notifications-div-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: .5rem 0;
   margin: .125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: .25rem;
}
.notifications-div-menu-lg {
   max-width: 300px;
   min-width: 280px;
   padding: 0;
}
