#Vemail{
    width: 100px;
    height: 100px;
    display: inline-block;
}
#VType{
    margin-right: 50px;
    font-style: bold;

}
.NVDataEntry1{
    width:100%;
    font-family: poppins;
    text-align: center;
}
.NVDataEntry2{
    
    font-family: poppins;
   
}
text{
    
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Poppins  ;

 
}
input{
    
    margin-left: 20px;
    margin-right: 20px;
    font-family: Poppins  ;
    margin-bottom: 20px;
    
    
}
.NVDataEntry2 h5{
    
    background: #007bff;
    width: 40%;
    margin: auto;
    border-radius: 30px;
    height: 40px;
    color: white !important;
    font-family: poppins;
    padding-top: 6px;
    margin-bottom: 30px !important;
    margin-top: 10px;
}
textarea
{
    font-family: Poppins  ;
    width: 50%;
    height: 200px;
}
