font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../AuthComponents/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../AuthComponents/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../AuthComponents/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../AuthComponents/poppins/poppins-v5-latin-300.woff") format("woff"), url("../AuthComponents/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../AuthComponents/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */ }
    
#intoDiv{
    margin: 0px;
    
}
#videoBanner{
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 1px;

   
}
.PlaceHolder{


    position: relative;
    line-break: strict;
    color: #000;
   font-family: Poppins;
    margin: 0 auto;
    overflow: hidden;
    
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: left;

}
.introText{
   
    width: 60%;
    color: #000;
   font-family: Poppins;
    margin: 0 auto;
    overflow: hidden;
    
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.erp-button{
    width: 200px;
margin-top: 7px;

    text-transform: none;
    background-color: #1a73e8;
    color: #fff !important;
    align-items: center;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font: 500 14px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    height: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: .25px;
    min-width: auto;
    outline: none;
    padding: 0 27px;
    position: relative;
    text-decoration: none;

    text-transform: none;
    -webkit-transition: none;
    transition: none;

    vertical-align: inherit;
    font-family: Poppins;
    
}

.pricingbtn{
    width: auto;
    margin-top: 0px;
    background-color: #1976d2;
    font-family: Poppins;
   
    
    color: white;
    margin-bottom: 5px;
    height: 30px;
   font-size: small;
   justify-content: center;
   
}
.plan-footer{
    justify-content: space-around;
    display: flex;
    float: none;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: Poppins;
}
.divs{
    width: 100%;
    
    margin: 0px;
   
    padding: 0px;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    background: #E6E1DD;
}
.homeCards{
    

     margin-top: 20px; 
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.pricing-table {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: stretch;
    flex-direction: row;
    font-family: Poppins;
    flex-flow: row wrap;
    justify-content: space-between;
}
.is-comparative .pricing-plan {
    border-radius: initial;
    margin: 0;
}
.is-comparative .pricing-plan:not(:last-child) {
    border-right: none;
}
.is-comparative .pricing-plan:first-child {
    
}
.is-comparative .pricing-plan:last-child {
  
}
.is-comparative .pricing-plan.is-active {
    border: solid;

}
.pricing-plan {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 230px;
    font-family: Poppins;
    background-color: white;
 border: groove;
 border-width: 1px;
 
 border-color: black;
  
    
}
.margin-class{
    margin-right: 50px;
}
.plan-header {
    align-items: center;
    background-color: #fff;
    height: 50px;
    color: black;
    justify-content: space-around;
    display: flex;
    font-family: Poppins;
    float: none;
    font-size: large;

   
    
   
}
.heading{
    align-items: center;
    font-family: Poppins;
    margin-top: 30px;
    color: black;
    justify-content: space-around;
    display: flex;
   
    float: none;
    font-size: xxx-large;
}
.enterprise{

background-color: rgb(62, 218, 24);
}
.professional{
 background-color: #1976D2;
    }
.basic{
 background-color: rgb(226, 58, 28);
        }
.plan-item {
    background: white-ter;
    border-bottom: 0.1rem solid white;
    padding: 0.5em;
    align-content: center;
    text-align: center;
    font-family: Poppins;
    font-size: 0.8em;
    color: black;
}
.plan-price-amount{
    justify-content: space-around;
    display: flex;
    float: none;
    font-weight: bold;
}
#myFooter{
    margin-top: 40px;
    height: auto;
    font-family: Poppins;
    border-top: thin;
    border-color: black;
    border: groove;
    border-left: transparent;
    border-right: transparent;
 border-width: .1px;
 padding-top: 50px;
 border-color: black;
    margin-bottom: 0px;
    background: #343a40;

}
.footer-copyright{
    align-items: center;
    
    font-family: Poppins;
    color: black;
    justify-content: center;
    display: flex;
    margin-bottom: 0px;
    margin-top: 15px;
    
    float: none;
    
}
.Footercontainer{
   
    background: #343a40;
    color: white;
}
.Footercontainer a{
    color:white;
    font-family: Poppins;
    background: #343a40;
}
.Footercontainer ul{
    background: #343a40;
    list-style: none;
    margin-right: 35px;
}





.mini-card-grid {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    padding: 3rem;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.mini-card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
}
.mini-article-card-header {
    margin-bottom: auto;
}
.mini-article-subhead {
    font-size: 14px;
    margin: 0 0 1rem;
}

.mini-article-byline {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
}
.mini-article-byline .author-avatar, .mini-article-byline .author-name-area {
    grid-area: auto;
}
.mini-article-meta .author-name {
    display: block;
    position: relative;
}
.mini-article-meta .author-avatar img {
    width: 40px;
    height: 40px!important;
}
.author-avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px!important;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mini-article-meta .author-avatar .half-circle {
    width: 60px;
    height: 48px;
}
.mini-article-byline .author-name-area {
    grid-area: auto;
}
.author-name-prefix, .comments-prefix, .date-prefix, .shared-by-prefix, .type-of-guide {
    font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}
.tags a {
    font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
}
.tags a {
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
}




.parallax {
    /* The image used */
    background-image: url("/assets/images/home_bg2.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }