html,
body {
  background: white;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#root {
  height: inherit;
}

#bg_mask {
    position: absolute;
    top: 0;
    right: 0;  bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 0px;
    width: 981px;
    height: 610px;
 
    z-index: 10;
   
  } 
  
  #frontlayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px 140px 175px 140px;
    padding : 30px;
    width: 700px;
    height: 400px;
    background-color: orange;
    visibility: hidden;
    border: 1px solid black;
    z-index: 10;
  } 